<nav class="navbar navbar-light bg-light mb-4">
  <div class="container">
      <a class="navbar-brand" href="/">GO</a>
      
      <ul class="nav navbar-text me-lg-auto">
        {{#if features.teams }} <li class="nav-item"><a class="nav-link" href="/go/teams">teams</a></li> {{/if}}
        {{#if features.login.simple }} <li class="nav-item"><a class="nav-link" href="/go/users">users</a></li> {{/if}}
      </ul>
    {{#unless mail }} <a class="nav-link" href="/go/login">Login</a> {{/unless}}
    {{#if mail }} <span class="navbar-text">{{mail}}</span> {{/if}}

</nav>