{{#*inline "page"}}
{{#if not_found}} <div role="alert" class="alert alert-warning">Shortcut "{{shortcut}}" does not exist yet.</div> {{/if}}

<script>
window.context = {{{context}}}
</script>
{{> vue_dist/search }}
{{/inline}}
{{~> layout~}}